body {
	/* сбрасываем внутренний отступ */
	padding: 0;
	/* сбрасываем наружный отступ */
	margin: 0;
	/* цвет фона */
	background-color: #ffffff;

	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.wrapper {
	/* способ расчета внутренний высоты */
	box-sizing: border-box;

	/* 85 процентов ширины от родительского элемента */
	width: 85%;

	/* автоматическая высота от дочерних элемента */
	height: auto;

	/* сбрасывания внутреннего отступа */
	padding: 0;

	/* сбрасывание наружного отступа */
	margin: 0 auto;

	/* цвет фона */
	/* background-color: #ccc; */
}

.flex-container {
	/* Это флекс контейнер */
	display: flex;

	/* Определяем направление элементов: строка */
	flex-direction: row;

	/* Запрещаем перенос элементов */
	flex-wrap: nowrap;

	/* Размещаем элементы равномерно по пространству */
	justify-content: space-between;
}

nav {
	display: block;
	box-sizing: border-box;

	width: 20%;
	height: auto;
	min-height: 100px;
}

nav .logo-container {
	display: block;
	position: relative;
	height: 55px;
	box-sizing: border-box;
	padding: 0 24px;
}

nav .logo-container img {
	position: absolute;
	width: 45px;
	bottom: 0;
}

.menu-container {
	display: block;
	box-sizing: border-box;

	padding: 24px;
}

.menu-list {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

.menu-list li {
	margin-bottom: 24px;
}

.menu-list li:last-child {
	margin-bottom: 0px;
}

.menu-list-item {
	/* This is flex container */
	display: flex;

	/* Set elements direction */
	flex-direction: row;

	/* Disallow wrap elements */
	flex-wrap: nowrap;

	/* Choosing of point center */
	justify-content: start;

	align-items: center;
}

.menu-list-item img {
	width: 30px;
}

.menu-list-item p {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 600;
	margin-left: 24px;
}

.menu-list-item:hover {
	color: #1DA1F2;
	cursor: pointer;
}

.feed {
	margin: 0;
	padding: 0;
	display: block;
	box-sizing: border-box;
	width: 50%;
	height: auto;
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
}

.feed .feed-navigation {
	display: flex;
	box-sizing: border-box;

	width: 100%;
	height: 50px;

	margin: 0;
	padding: 32px 24px;

	/* Определяем направление элементов: строка */
	flex-direction: row;

	/* Запрещаем перенос элементов */
	flex-wrap: nowrap;

	/* Размещаем элементы равномерно по пространству */
	justify-content: start;

	align-items: center;
}

.feed .account-cover {
	display: block;

	width: 100%;
	height: 300px;

	background-image: url("/public/img/png/cover.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.feed .account-cover img {
	position: relative;
	border-radius: 50%;
	width: 170px;
	border: 3px solid white;

	margin-left: 18px;
	transform: translateY(210px);
}

.feed .account-desc {
	display: block;
	box-sizing: border-box;

	width: 100%;
	height: auto;

	padding: 16px;
}

.feed .account-desc .button-container {
	display: flex;
	box-sizing: border-box;

	width: 100%;
	height: auto;
	min-height: 80px;

	flex-direction: wrap;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;
}

.feed .account-desc .account-info p.link {
	font-size: 16px;
	color: #868686;
}

.feed .account-desc .account-info p.desc {
	width: 65%;
	font-size: 16px;
	margin-top: 16px;
}

/* Стилизируем кнопку перевода */
.account-desc .account-info .translate {
	margin-top: 16px;
	font-size: 13px;
}

/* Меняем цветки кнопки перевода на синий при наведении курсора */
.account-desc .account-info .translate:hover {
	color: #1DA1F2;
	cursor: pointer;
}

/*Придаем обтекание картинке */
.account-info img {
	margin-right: 10px;
	float: left;
	width: 20px;
}

/* Стилизируем дату регистрации */
.account-desc .account-info .data-join {
	margin-top: 16px;
	font-size: 16px;
	color: #868686;
}

/* Создаем общий блок */
.account-desc .account-info .follow-data {
	margin-top: 16px;

	width: 100%;

	display: flex;

	flex-direction: row;

	flex-wrap:nowrap;

	justify-content: flex-start;
} 

/* Создаем блок для подписок(following) */
.account-desc .account-info .follow-data .following {
	width: 250px;

	display: flex;

	flex-direction: row;

	flex-wrap:nowrap;

	justify-content: flex-start;
}

/* Добавляем серый цвет following.у */
.account-desc .account-info .follow-data .following p:last-child {
	color: #868686;
	margin-left: 16px;
}


/* Создаем блок для подписчиков(followers) */
.account-desc .account-info .follow-data .followers {
	width: 100%;

	display: flex;

	flex-direction: row;

	flex-wrap:nowrap;

	justify-content: flex-start;
}

/* Добавляем серый цвет followers.у */
.account-desc .account-info .follow-data .followers p:last-child {
	color: #868686;
	margin-left: 16px;
}

.return-button:hover {
	cursor: pointer;
}

.feed-navigation .account-desc {
	display: block;
	box-sizing: border-box;

	padding: 0px 24px;
}

.feed-navigation .account-desc p {
	margin: 0;
	padding: 0;
}

.feed-navigation .account-desc p:first-child {
	font-weight: 600; 0.5;
}

.feed-navigation .account-desc p:last-child {
	font-size: 13px;
	color: #969696;
}

/*Стилизируем новостную навигацию*/
.feed .news-navigation {

	width: 100%;

	display: flex;
	box-sizing: border-box;

	flex-direction: row;

	flex-wrap: nowrap;

	border-bottom: 1px solid #d6d6d6;
}

.feed .news-navigation .whiteline {

	width: 100%;

	display: flex;
	box-sizing: border-box;

	flex-direction: row;

	flex-wrap: nowrap;

	border-bottom: 3px solid white;

	justify-content: center;
}

/*Добавляем серый цвет новостной навигации*/
.feed .news-navigation .whiteline {
	color: #969696;
}

/*Добавляем цвета при наведении курсора*/
.feed .news-navigation .whiteline:hover {
	color: #1DA1F2;
	cursor: pointer;
	border-bottom: 3px solid #1DA1F2;
}

.tweets {
	padding: 16px;
}

.tweets:hover {
	padding: 16px;
	border-bottom: 3px solid;
	color: #1DA1F2;
	cursor: pointer;
}

.replies {
	padding: 16px;
}

.replies:hover {
	padding: 16px;
	border-bottom: 3px solid;
	color: #1DA1F2;
	cursor: pointer;
}

.media {
	padding: 16px;
}

.media:hover {
	padding: 16px;
	border-bottom: 3px solid;
	color: #1DA1F2;
	cursor: pointer;
}

.likes {
	padding: 16px;
}

.likes:hover {
	padding: 16px;
	border-bottom: 3px solid;
	color: #1DA1F2;
	cursor: pointer;
}

/*Оформляем общий блок*/ 
.news {

	margin-top: 16px;

	width: 40%;

	display: flex;

	flex-direction: row;

	flex-wrap:nowrap;

	justify-content: space-between;

	} 	

	.news .profile-photo img {
		position: relative;
		border-radius: 50%;
		width: 60px;
		border: 3px solid white;
		margin-left: 18px;
		transform: translateY(10px)
	
	}




.info {
	display: block;
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	width: 30%;
	height: auto;
}